.vs
Debug/*
ipch/*
x64/*
MFC_SerialPortMFC_SerialPort/Debug/*
MFC_SerialPortMFC_SerialPort/res/*
MFC_SerialPortMFC_SerialPort/x64/*

*.db
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
